# --- Android ---
/android/build/
/android/app/build/
/android/.gradle/
/android/local.properties
*.keystore
!my-release-key.keystore
*.jks
android/app-debug.zip
/android/android/boost_1_83_0/
*.iml

# --- iOS ---
/ios/Pods/
/ios/build/
/ios/*.xcworkspace
/ios/*.xcodeproj/xcuserdata
/ios/*.xcodeproj/project.xcworkspace
xcuserdata/
DerivedData/
*.ipa
*.mobileprovision
*.p12

# --- Node / React Native ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
dist/
web-build/
*.jsbundle
.metro-health-check*

# --- Ambiente / Config ---
.env*.local
!.env.example
.DS_Store
*.pem
*.hprof
.cxx/

# --- Editor / IDE ---
.idea/
.vscode/
*.swp
*.swo

# --- Fastlane ---
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# --- TypeScript / Build ---
*.tsbuildinfo
*.orig

# --- React Native Generated / New Architecture ---
android/build/generated/
android/app/src/main/cpp/hermes/
build/generated/
hermes/

# --- Visual Studio / Copilot ---
.vs/
*.zip
*.tar.gz
*.db
